@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

body{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.2rem;
}

img {
	max-width: 100%;
}

.blog-post img{
	display: block;
    margin: 0 auto;
}
.blog-post table{
	display: block;
}
.blog-post p,
.blog-post h1,
.blog-post h2,
.blog-post h3,
.blog-post h4,
.blog-post h5,
.blog-post h6,
.blog-post span,
.blog-post table{
	font-family: 'Josefin Sans', sans-serif;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.blog-post h1,
.blog-post h2,
.blog-post h3{
	padding: 0.75rem 1.5rem;

	color: #363636;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.125;
}

.blog-post p,
.blog-post table {
	padding-bottom: 0.75rem;
}
.blog-post ol,
.blog-post ul {
	list-style: disc;
	padding-left: 2.3rem;
    padding-right: 2.3rem;
	
}

@media screen and (max-width: 1023px) {
	.navbar-menu {
		display: block;
		opacity: 0;

		position: absolute;   /* or float: left; width: 100%;*/
		left: 0;
		right: 0;

		transform: translateY(-50%);
		transition: all .2s ease-in-out;
		pointer-events: none;
	}

	.navbar-menu.is-active {
		opacity: 1;
		transform: none;
		pointer-events: auto;
	}
}

